<nav class="mat-elevation-z4">
    <ul class="nav-list">
        <li class="nav-item"><a routerLink="/component-factory">component-factory</a></li>
        <li class="nav-item"><a routerLink="/cdk-portal">cdk-portal</a></li>
        <li class="nav-item"><a routerLink="/dynamic-string">dynamic-string</a></li>
    </ul>
    <section class="author-info">
        <img class="avatar" src="/assets/image/avatar.jfif">
        <div>
            <a href="https://blog.locotor.cn/" title="github" target="_blank">
                <mat-icon fontSet="fontawesome" fontIcon="fa-github"></mat-icon>
            </a>
            <a href="https://juejin.cn/user/782508008407687" title="juejin" target="_blank">
                <mat-icon fontSet="fontawesome" fontIcon="fa-book"></mat-icon>
            </a>
            <a href="https://blog.locotor.cn/" title="blog" target="_blank">
                <mat-icon fontSet="fontawesome" fontIcon="fa-rss"></mat-icon>
            </a>
        </div>
    </section>
</nav>
<section class="main mat-elevation-z6">
    <header>
        <h1>Angular 动态视图</h1>
    </header>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</section>