:host {
  display: flex;
  height: 100%;
}

div.dom-section {
  margin-left: 1rem;
  padding: 1rem;
  background-color: #f2cc8f;
  color: #3d405b;
}

.host-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.host-container > :last-child{
  margin-top: 1rem;
}