<section class="operation-pane">
    <form>
        <mat-form-field>
            <input matInput placeholder="输入消息内容" name="alert-message" [(ngModel)]="messageValue" />
        </mat-form-field>
    </form>
    <button mat-stroked-button class="operation-button" color="primary"
        (click)="createComponent('success')">插入成功消息</button>
    <button mat-stroked-button class="operation-button" color="accent"
        (click)="createComponent('warning')">插入警告消息</button>
    <button mat-stroked-button class="operation-button" color="primary" (click)="createTemplate()">插入模板</button>
    <button mat-raised-button class="operation-button" color="primary" (click)="clearContainer()">清空</button>
</section>

<div class="dynamic-view-container">
    <h2 style="border-bottom: 1px solid;">以代码方式动态插入</h2>
    <ng-container #dynamicComponentContainer></ng-container>
</div>

<div class="dynamic-view-container">
    <h2 style="border-bottom: 1px solid;">以指令方式动态插入</h2>
    <ng-container *ngIf="anotherComponent"></ng-container>
    <ng-container *ngComponentOutlet="anotherComponent;injector:costumeInjector"></ng-container>
    <ng-container *ngTemplateOutlet="templateView"></ng-container>
</div>

<div></div>

<ng-template #templateView let-param="message">
    <section class="template-wrapper">
        <span>来自 ng-template 的动态内容</span>
        <span>{{param}}</span>
    </section>
</ng-template>