/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dynamic-view-container {
  flex: 1;
  overflow-y: auto;
  margin-left: 2rem;
  padding: 1rem;
  border: 1px dashed;
}

.template-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
}

.operation-pane {
  display: flex;
  flex-direction: column;
}

button.operation-button {
  margin-top: 1rem;
}
